@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Special+Elite&display=swap');

:root{
    --primary-color: #94fc13; 
    --dark-gray: #212121;
    --dark-black: black;
}
body {
    font-family: 'Share Tech Mono', monospace;
    margin: 0px;
    background-color: var(--dark-black);
}

.container {
    padding: 0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

.flex{
    display: flex;

}

/* Navbar */

.navigation{
    background-color: var(--primary-color);
    color: var(--dark-gray);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.nav-brand{
    padding: 0.5rem 1rem;
    font-size: 1.8rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation a{
    color: var(--off-white);
    text-decoration: none;  
}

/* Input and Output Section */

#section-input, #section-output{
    padding: 2rem;
    color: var(--primary-color);
}

.div-output{
    margin-top: -4.1rem;
    z-index:-1;
}


#txt-input, #txt-output{
    display: block;
    width: 50%;
    height: 4rem;
    padding: 1rem;
    border-color: var(--primary-color);
    background-color: #eee;
}

.icon-clipboard{
    width: 50%;
    text-align: right;
    margin-left:2rem;
}

.icon-clipboard .fas{
    position: relative;
    margin-bottom: 45px;
    font-size: 1.2rem;
    color: var(--dark-gray);
}

/* Button Section */

#section-button{
    padding: 0rem 2rem;
}


#btn-translate{
    padding: 1rem;
    border-radius: 7%;
    color: black;
    background-color: var(--primary-color);
    border-color: black;
    font-family: 'Permanent Marker', cursive;
    
    
}

.btn{
    width: 50%;
    text-align: center;
}

#btn-translate:hover{
    background-color: ;
}

/* Footer Section */

#section-footer{
    padding-top: 2rem;
}
.footer{
    background-color: var(--bright-yellow);
    padding: 1rem 1rem;
    text-align: center;
    color: var(--primary-color);
    border-top-right-radius: 1rem;
}

.footer h1{
    margin: 0.5rem;
}

.footer .link{
    color: var(--off-white);
}

.list-non-bullet{
    list-style-type: none;
    
}

.list-item-inline{
    display: inline;
    padding-right: 0.5rem;

}



